[alias]
  hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  editor = vim
  pager = less --no-init --quit-if-one-screen
[http]
  sslverify=true
  cookiefile = ~/.gitcookies
[include]
  path = ~/host.gitconfig
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckObjects = true
